{% extends 'Course_Attendance/base.html' %}
{% load static %}

{% block title_content %}
<title>Course Archive</title>
{% endblock %}

{% block main_content %}
<!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <h3><i class="fa"></i> Course Archive</h3>
        <hr>
          {% if error_message %}
            <h4><i class="fa fa-angle-right"></i> {{ error_message }}</h4>
          {% endif %}

          {% for key, value in course_rows.items %}
            <div class="row mt">
                {% for v in value %}
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
                    <div class="project-wrapper">
                      <div class="product-panel-2 pn">
                          <br><br>
                          <h4>Course Name : {{ v.cname }}</h4>
                          <h5>Course ID : {{ v.cid }}</h5>
                          <h5>No. of classes : {{ v.no_of_classes }}</h5>
                          <a role="button" class="btn btn-small btn-theme04"
                          href="{% url 'Course_Attendance:courseDetail' v.cid %}" target="_blank">VIEW Course Plan</a>
                        </div>
                    </div>
                  </div>
                  <!-- col-lg-4 -->
                {% endfor %}
            </div>
          {% endfor %}
          <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}